<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
<meta charset="UTF-8">
<title>Cadastro de Categoria</title>
	
</head>
<body>
	<h1>Cadastro de Categoria</h1>
	<hr>
		  
	<form th:action="${categoria.ctCodigo==null} ? @{/categoria/salvar} : @{/categoria/editar}" 
		  th:object="${categoria}" 
		  method="post"		  
	>
		Descri&ccedil;&atilde;:<input type="text" th:field="*{ctDescricao}"><br>
		<input type="hidden" th:field="*{ctCodigo}">
		<input type="hidden" th:name="ctDtCadastro" th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH:mm')}">
		<input type="hidden" th:field="*{ctSatus}">
		<input type="submit" value="Salvar">
	</form>	
	<br>
	<a th:href="@{/categoria/categoriaLista}">Voltar a lista de Categorias</a>	  
	  
	
</body>
</html>