<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>:::MALL TOY | P&aacute;gina Inicial:::</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.css}"
	rel="stylesheet" />
</head>
<body>
	<header class="bg-primary text-white">
		<div class="container text-center">
			<h1>Menu administrativo</h1>
		</div>
	</header>
	<div class="container">

		<div class="row">

			<div class="col-lg-3">
				<h1 class="my-4">Menu Principal</h1>
				<div class="list-group">
					<!-- <a href="#" class="list-group-item active">Alunos</a> -->
					<a th:href="@{/alunos/lista}" class="list-group-item">Alunos</a>
					<a th:href="@{/categorias/categoriaLista}"	class="list-group-item">Categoria</a>
					<a th:href="@{/produtos/lista}" class="list-group-item">Produto</a>
					<a th:href="@{/images/lista}" class="list-group-item">Imagens</a>
				</div>
			</div>
			<!-- /.col-lg-3 -->

			<div class="col-lg-9">
				<div class="card mt-4">
					<!-- <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt=""> -->
					<div class="card-body">
						<h3 class="card-title">Cadastro de Produtos</h3>
						<hr/>
						
						<!-- MENSAGEM DE SUCESSO -->
						<div th:if="${message != null}" class="alert alert-success alert-dismissible" role="alert">				
							<span th:text="${message}"></span>
							<button type="button" class="close" data-dismiss="alert">&times;</button>
						</div>	
								
						<form th:action="${produto.prCodigo == null} ? @{/produtos/salvar} : @{/produtos/editar}"
							th:object="${produto}"
							method="post" enctype="multipart/form-data">
							<!-- MENSAGENS DE VALIDAÇÕES -->
							<div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger alert-dismissible" role="alert">				
								<div th:each="error : ${#fields.detailedErrors()}">
									<span th:text="${error.message}"></span>
								</div>
								<button type="button" class="close" data-dismiss="alert">&times;</button>
							</div>
													
							<input type="hidden" th:field="*{prCodigo}"/> 
							<!--<input type="hidden" th:field="${produto.prHref}"/>-->
						<table class="table table-bordered">
						  <tbody>
							<tr th:if="${produto.prCodigo != null} ">
						      <th>Status: </th>
						      <td>
								<select class="form-control" name="prStatus" id="prStatus">
									<option value="">---Selecione o Status---</option>
									<option th:value="0" th:text="Inativo" th:selected="${produto.prCodigo != null && produto.prStatus == 0}"></option>
									<option value="1" th:text="Ativo" th:selected="${produto.prStatus == 1}"></option>
								</select>
							  </td>
						    </tr>
							<tr>
						      <th>Categoria: </th>
						      <td>
								<select class="form-control" th:field="*{categoria}" id="prCtCodigo">
									<option value="">---Selecione uma Categoria---</option>
									<option
										th:each="ct : ${listaCategoria}"
										th:value="${ct.ctCodigo}"
										th:text="${ct.ctDescricao}"></option>
								</select>
							  </td>
						    </tr>
						    <tr>
						      <th>Nome: </th>
						      <td><input type="text" th:field="*{prNome}" id="prNome" class="form-control"/></td>
						    </tr>
						    <tr>
						      <th>Descrição: </th>
						      <td><textarea rows="5" th:field="*{prDescricao}" id="prDescricao" class="form-control"></textarea></td>
						    </tr>
						    <tr>
						      <th>Valor: </th>
						      <td><input type="text" th:field="*{prValor}" id="prValor" class="form-control"/></td>
						    </tr>
						    <!--<tr>
						      <th>Foto: </th>
						      <td><input type="file" name="foto" accept="image/*" id="foto" class="form-control"/></td>
						    </tr>-->
						    <tr>
						    	<td>&nbsp;</td>
						      <td>
							      <button type="submit" value="Salvar" class="btn btn-info">Salvar</button>
							  </td>
						    </tr>
						  </tbody>
						</table>
						</form>
						<a th:href="@{/produtos/lista}" class="btn btn-default">&larr; Lista de Produtos</a>
					</div>				
				</div>
				<!-- <a href="#" class="btn btn-success">Leave a Review</a> -->
			</div>
		</div>
		<!-- /.card -->

	</div>
	<!-- /.col-lg-9 -->

	</div>

	</div>

	<script th:src="@{/webjars/jquery/jquery.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
	<script th:src="@{/js/jquery.maskMoney.js}"></script>
	<script type="text/javascript">
		jQuery(function($){
			$("#prValor").maskMoney({
				prefix:'R$ ',
				allowNegative: false,
				thousands:'.',
				decimal:',',
				allowZero:true, 
				affixesStay: false});
		});
	</script>
</body>
</html>